.cardsMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.pages_order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  background-color: white;
  box-shadow: -1px 15px 26px -25px rgba(0, 0, 0, 0.59);
}

.CardsContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.splashIMG {
  position: fixed;
  transform: scale(1.05);
  top: -5%;
  z-index: -1;
  overflow: hidden;
}
